.tabswiper {
  padding: calc(2 * var(--step));
  background-color: var(--color-bg);
  color: var(--color-text);
  width: 600px;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-block-end: calc(2 * var(--step));
}

header .favicon {
  width: calc(3 * var(--step));
  height: calc(3 * var(--step));
  margin-inline-end: calc(1 * var(--step));
}

header .tabCounter {
  display: flex;
  align-items: center;
}

header .actions {
  display: flex;
  align-items: center;
  gap: calc(2 * var(--step));
}

header .actions .actionButton {
  padding: 0;
}

/* Current Tab */

.currentTab {
  display: block;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  word-wrap: break-word;
}

.currentTab .title {
  font-size: 1.25em;
  margin-block-end: calc(1 * var(--step));
}

.currentTab .url {
  color: var(--color-accent);
}
