.tabswiper {
  background-color: var(--color-bg);
  border: 1px solid var(--color-accent);
  color: var(--color-text);
  width: 640px;
  padding: calc(2 * var(--step));
}

/* Header */

.tabswiper header {
  padding-block-end: calc(2 * var(--step));
  /* border-block-end: 1px solid var(--color-accent); */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tabswiper .favicon {
  width: calc(3 * var(--step));
  height: calc(3 * var(--step));
  margin-inline-end: calc(1 * var(--step));
}

.tabswiper .tabCounter {
  display: flex;
  align-items: center;
}

.tabswiper .actions {
  display: flex;
  flex-direction: row;
  gap: var(--step);
}

/* Current Tab */

.tabswiper .currentTab {
  /* padding-block-start: calc(2 * var(--step)); */
  /* padding-block-end: calc(3 * var(--step)); */
  cursor: pointer;
  word-wrap: break-word;
  /* line-height: 1.5; */
}

.tabswiper .currentTab .title {
  font-size: 1.25em;
  margin-block-end: calc(1 * var(--step));
  /* font-weight: bold; */
}

.tabswiper .currentTab .url {
  /* font-size: 0.8em; */
  color: var(--color-accent);
  text-decoration: none;
}

/* Footer */


.tabswiper footer .actionButton {
  flex: 1 1 auto;
}
