html, body {
  font-family: sans;
  margin: 0;
  padding: 0;
}

.popup {
  --color-bg: #eeeeee;
  --color-bg: #ffffff;
  --color-text: #333333;
  --color-accent: #666666;
  --color-accent: #777777;

  --step: 8px;
}

@media (prefers-color-scheme: dark) {
  .popup {
    --color-bg: darkgray;
    --color-text: white;
    --color-accent: blue;
  }
}

/* Controls */

*:focus-visible {
  outline-color: var(--color-accent);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 1px;
}

/* Button */

button {
  border: none;
  border-radius: 0;
  background: var(--color-bg);
  color: var(--color-text);
  cursor: pointer;
  font: inherit;
}

button:active {
  border-color: var(--color-accent);
  color: var(--color-accent);
}
